{% if some %}
	Hello, {{ some }}
{% else %}
	Hello, Stranger!
{% endif %}

<ul>
	{% for l in list %}
	<li>l</li>
	{% endfor %}
</ul>

{% macro render_item(item) %}
	<li>{{ item }}</li>
{% endmacro %}

<ul>
	{% for l in list %}
		{{ macros.render_item(l)}}
	{% endfor %}
</ul>

