<html>
<head>
	<title>
		Index
	</title>
</head>

<body>
	{% for message in get_flashed_messages() %}
		{{ message }} <br/>
	{% endfor %}
	<form method='post'>
		<input type='text' name='name'/>
		<input type='submit' name='Submit'/>
	</form>
</body>
</html>
